rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Kullanıcıların kendi profillerini yönetmesi için
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // İş İlanları
    match /is_ilanlari/{jobId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // İndirim İlanları (Fırsatlar)
    match /indirim_ilanlari/{dealId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Taksiler
    match /taksiler/{taxiId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Kullanıcı Favorileri (Sadece giriş yapmış kullanıcı kendi favorilerini okuyup yazabilir)
    match /userFavorites/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
